.company-image {
    width: 100%;
    max-height: 50vh;
    object-fit: cover;
}

.company-logo-container {
    display: flex;
    justify-content: center;
}

.reverse-link {
    text-decoration: underline;
}

.reverse-link:hover {
    text-decoration: none;
}

.content>.left h2 {
    color: rgba(0,0,0,0.8);
}

.company-container {
    display: flex;
    justify-content: center;
}    

.heart-red {
    content: url("../img/heart_red.svg");
}