.searchbar {
    display: flex;
    flex-direction: row;
    padding-top: 4px;
    padding-bottom: 4px;
    margin:16px;
    width: 100%;
}

.searchbar input {
    flex: 1;
    width: 100%;
    border: none;
    background-color: transparent;
}

.searchbar-container {
    position: absolute;
    display: flex;
    width: 100%;
    max-width: 1056px;
}