body {
    margin:0
}

html {
    scroll-behavior: smooth;
    margin:0;
}

button,a {
    cursor: pointer;
}

*:focus {
    outline: none;
}

.hide {
    display: none !important;
}
.show {
    display: flex;
}

.invisible {
    visibility: hidden;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

.flex-row {
    display:flex;
    flex-direction: row;
}
.flex-column {
    display:flex;
    flex-direction: column;
}

.flex-center {
    display: flex;
    justify-content: center;
}

.flex-center-vertical {
    display: flex;
    align-items: center;
}

.nogap {
    display: flex;
    gap: 0px;

}

.gap8 {
    display: flex;
    gap: 8px;
}

.gap16 {
    display: flex;
    gap: 16px;
}

.gap20 {
    display: flex;
    gap: 20px;
}

.gap32 {
    display: flex;
    gap: 32px;
}

.togray {
    filter:grayscale(1);
}

.rot180 {
    rotate: 180deg;
}

.mt16 {
    margin-top: 16px;
}

.pt16 {
    padding-top: 16px;
}

.pt2cm {
    padding-top: 2cm;
}

.height64 {
    height: 64px !important; 
}

.height48 {
    height: 48px !important; 
}

.height32 {
    height: 32px !important; 
}

.height24 {
    height: 24px !important; 
}

.height16 {
    height: 16px !important; 
}

.space {
    display: flex;
    justify-content: space-between;
}

.half {
    width: 50%;
}

.noshadow {
    box-shadow: unset;
}

.cover {
    object-fit: cover;
}

.x:invalid {
    border: 1px solid red;
}

.x:valid {
    border: none;
}

body,textarea,input,::placeholder {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    color: rgba(0,0,0,0.7);
    font-weight: normal;
    font-size: 14px;
}

.input, .button, button {
    font-weight: normal;
}

.circle-image {
    border-radius: 50%;
 
    display: flex;
    justify-content: center;
    align-items: center;
 
    aspect-ratio: 1 / 1;

    object-fit: cover;
    margin:0;
}

.image {
    display: flex;
    justify-content: center;
    align-items: center;
 
    width: 32px;
    height: 32px;
    aspect-ratio: 1 / 1;

    object-fit: contain;
    margin:0;
}

.no-outline {
    outline: none;
}

.no-outline:focus {
    outline: none;
}

.i {
    border-radius: 50%;
    border: 1px solid rgba(0,0,0,0.8);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: rgba(0,0,0,0.7);
    width: 18px;
    height: 18px;
    font-size:14px;
    cursor: pointer;
}

.plus {
    position: absolute;
    top: 16px; 
    right:16px;
    border-radius: 50%;
    border: 1px solid rgba(0,0,0,0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    color: red;
    width: 32px;
    height: 32px;
    font-size:24px;
    cursor: pointer;
}

.plus-button {
    border-radius: 50%;
    background-color: rgba(0,0,0,0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgba(0,0,0,0.8);
    width: 48px;
    height: 48px;
    font-size:36px;
    cursor: pointer;
}

.smooth-scroll-area {
	scroll-behavior: smooth;
}

.plus:hover,.i:hover, .plus-button:hover {
    background-color: rgba(0,0,0,0.05);
}
.m16 {
    margin:16px;
}

.clear-height {
    height: unset !important;
}

.color-red {
    color: red !important;
}