* {
    scroll-behavior: smooth;
}

@font-face {
    font-family:'Signika Negative' ;
    src: url('./font/SignikaNegative-VariableFont_wght.ttf');
}

body {
    --max-width: 1440px;

    font-size: 14px;
    color: rgba(0,0,0,0.6);
    
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Signika Negative", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
      
}

.back-round {
    border-radius: 50%;
    background-color: rgba(0,0,0,0.1); 
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.back-round:hover {
    background-color: rgba(0,0,0,0.3); 
}

.size48 {
    width:48px;
    height:48px;
    min-width:48px;
    min-height:48px;
}

.size32 {
    width: 32px;
    height: 32px;
    min-width:32px;
    min-height: 32px;
}

.size24 {
    width: 24px;
    height: 24px;
    min-width:24px;
    min-height: 24px;
}

.p16 {
    padding: 8px;
}

.back-round .text {
    width: 16px;
    height: 16px;
    border: 2px solid rgba(0,0,0,0.9);
    border-radius: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(0,0,0,1);
    font-weight: 700px;
    font-size: 12px;
    padding: 2px;

}
.fs24 {
    font-size: 24px;
}

.flex-center-vertical {
    display: flex;
    align-items: center;
}

.flex-center-left {
    display: flex;
    align-items: center;
    justify-content: left;
}


/* Max Width general */ 
.max-width
 {
    width: 100%;
    max-width: var(--max-width);
}

.color-red {
    color: rgba(255,0,0,0.8);
}

.dark {
    filter:grayscale(0.95) !important;
    cursor:default !important;
}

.flex-center {
    display: flex;
    justify-content: center !important; 
    align-items: center;
}

.border-radius-top {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.autoscroll {
    overflow-y: scroll;
}